*{
	box-sizing:border-box;
}


body{
	margin:0;
	padding:0;
	font-family:Arial;
	background-color: #ccc;
}


.formulario{
	    width: 933px;
	border:1px solid #000;
	background-color: #fff;
	margin:20px auto;
	padding:20px;
}

.clearfix{
	overflow:hidden;
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}

.hidden{
	visibility: hidden;
}
.form-group{
	width:200px;
}
.form-group label{
	
	font-size:1.1em;
}
.form-group input{
	border:1px solid #666;
	padding:5px 5px 5px 10px;
	
	box-shadow: inset 1px 1px 10px #ccc;
}

.lista{
	width: 933px;
    margin: 0 auto;
    border: 1px solid;
    background-color: #fff;
}

.lista table{
	
	    margin: 40px auto;
    	border-collapse: collapse;
        padding: 20px;
}

.lista table thead{
	text-align: left;
	background-color: #ddd
}

.lista table thead th{
	font-weight: normal;
	font-size:18px;
	color:#304d71;
}

.lista table tbody td{
	border-bottom: 1px solid #000;
}

.lista table tbody input{
	padding:5px;
	border:none;
	font-size:16px;
}

.add-button a{
	background-color: #c7c7c7;
    padding: 4px 20px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    border: 1px solid #999;
    box-shadow: inset -1px -1px 1px #aaa;
}

.add-button a:hover{
	box-shadow: inset -1px -1px 1px #888;
}

.add-button a:active{
	box-shadow: inset 1px 1px 1px #aaa;
}

.valor-total{
	float:right;
	margin: 20px;
	font-size: 24px;
}


.submit{
	    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px 30px;
    font-size: 16px;
}
.submit:hover{
	box-shadow: inset -1px -1px 2px #ccc;
}
.submit:active{
	box-shadow: inset 1px 1px 2px #ccc;
}